{% extends 'layout.html' %}

{% block content %}
<section>
  <h1>{{meta['GRAMMAR_NAME']}} ({{meta['SHORT_GRAMMAR_NAME']}})</h1>

 <div class="table-responsive">
 <table class="table table-hover table-borderless table-sm caption-top">
    <caption>Grammar Meta-data</caption>
    <thead class="thead-light">
    <tr>
      <th>Metadata</th> <th>Value</th>
    </tr>
    </thead>
    <tbody>
      {%- for key in meta %}
      <tr>
	<td>{{key.title().replace('_', ' ')}}</td>
	{% if 'EMAIL' in key %}
	<td><a href='mailto:{{meta[key]}}'>{{meta[key]}}</a></td>
	{% elif 'URL' in key or 'WEBSITE' in key %}
	<td><a href='{{meta[key]}}'>{{meta[key]}}</a></td>
	{% else %}
	<td>{{meta[key]}}</td>
	{% endif %}
      </tr>
      {% endfor %}
        </tbody>
 </table>
 </div>

 <div class="table-responsive">
	 <table class="table table-hover table-borderless table-sm caption-top w-auto">
    <caption>Grammar Summary</caption>
    <thead class="thead-light">
    <tr>
      <th>Object</th>
      <th class="text-end"># in Grammar</th>
      <th class="text-end"># in Tree Bank</th>
    </tr>
    </thead>
    <tbody>
      {%- for key in summ %}
      <tr>
	<td>{{key.title().replace('_', ' ')}}</td>
        <td class="text-end">
          {% if summ[key][0] is number %}
            {{ "{:,}".format(summ[key][0]) }}
          {% else %}
            {{ summ[key][0] }}
          {% endif %}
        </td>
	 <td class="text-end">
          {% if summ[key][1] is number %}
            {{ "{:,}".format(summ[key][1]) }}
          {% else %}
            {{ summ[key][1] }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
        </tbody>
    </table>
 </div>

 {% if logs %}
 <div class="table-responsive">
   <table class="table table-hover table-borderless table-sm caption-top w-auto">
    <caption>Build Logs</caption>
    <tbody>
      {%- for log in logs %}
      <tr>
        <td>
          <a href="{{ log.url }}" download>
            {{ {"grammar": "Grammar / docstring tests",
                "ace": "ACE compile",
                "grew": "Grew export"}[log.kind] }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
   </table>
 </div>
 {% endif %}

 <div class="table-responsive">
	 <table class="table table-hover table-borderless table-sm caption-top w-auto">
    <caption>Tree Bank Summary</caption>
    <thead class="thead-light">
    <tr>
      <th>Metadata</th>
      <th class="text-end">Value</th>
    </tr>
    </thead>
    <tbody>
      {%- for key in tsumm %}
      <tr>
	<td>{{key.title().replace('_', ' ')}}</td>
        <td class="text-end">
          {% if tsumm[key] is number %}
            {{ "{:,}".format(tsumm[key]) }}
          {% else %}
            {{ tsumm[key] }}
          {% endif %}
        </td>

      </tr>
      {% endfor %}
        </tbody>
    </table>
 </div>

 
  
</section>
{% endblock %}
