{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <h1>Overview</h1>


  {{grammars, grm}}
  
  <p>Welcome to the Linguistic Type Database.
    
    {%if grm == None %}
    <p class="text-danger font-weight-bold">Please Select a Grammar</p>
    {% else %}
    <p>You can select your grammar here:
    {% endif %}
    
    <form action="/" method="POST">
      {% for grammar in grammars %} 
      <input type="radio" id="{{grammar}}" name="grm" value="{{grammar}}"
	     {%if grammar == grm %}checked='checked'{% endif %}>
      <label for="{{grammar}}">{{grammar}}</label><br>
      {% endfor %}
      <input type="submit">
    </form>

    
      <h3>References</h3>
      <dl>
	<dt><a name="Bond:Paik:2012">Francis Bond and Kyonghee Paik</a> (2012) 
	<dd><a href="https://bond-lab.github.io/pdf/2012-gwc-wn-license.pdf">A survey of wordnets and their licenses</a> 
	  In <i>Proceedings of the 6th Global WordNet Conference 
	    (GWC 2012)</i>. Matsue. 64–71
	</dd>
 <dt><a name="Bond:Vossen:McCrae:Fellbaum:2016">Francis Bond, Piek Vossen, John McCrae, and Christiane Fellbaum (2016)</a></dt>
  <dd><a href="https://aclanthology.org/2016.gwc-1.9/">CILI: the Collaborative Interlingual Index</a>. 
    In <i><a href="https://aclanthology.org/volumes/2016.gwc-1/">Proceedings of the 8th Global WordNet Conference (GWC2016)</a></i>, Bucharest. pp&nbsp;50&ndash;57
</dd>
      </dl> 
</div>
{% endblock %}
