<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/ltdb.png') }}"/>
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
{% include 'navigation.html' %}
  <main class="app-shell">
    {% block content %}{% endblock %}
  </main>

  <footer class="app-footer">
    <p class="mb-1">Linguistic Type Database</p>
    <address class="mb-1">
      Maintainer: <a href="https://fcbond.github.io">Francis Bond</a>
    </address>
    <p class="mb-1">Contributors: Francis Bond, Michael Wayne Goodman, Luís Morgado da Costa and Chikara Hashimoto.</p>
    <p class="mb-1">Source code hosted at <a href="https://github.com/fcbond/ltdb">github.com/fcbond/ltdb</a>.</p>
    <p class="mb-0">Please provide feedback on <a href="https://github.com/fcbond/ltdb/issues">GitHub issues</a> or email the maintainer &lt;<a href="mailto:bond@ieee.org">bond@ieee.org</a>&gt;.</p>
  </footer>

  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//E1J19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
