{% extends 'layout.html' %}

{% block content %}

<!-- Color and sort according to type   -->

<section>
  <h1>Lexical Types</h1>

  <div class="table-responsive">
  <table id='data'
	 class="table table-hover table-borderless table-sm">
    <thead class="thead-light">
    <tr>
      <th>Lexical Type</th> <th>Name</th>
      <th>Lex Freq</th>
      <th>Corpus Freq</th>
      <th>Words</th>
    </tr>
    </thead>
    <tbody>
      {%- for (ltype, lname, lfreq, cfreq, _) in data %}
      <tr>
	<td><a href="{{type_href(ltype)}}">{{ltype}}</a></td>
	<td>{{lname}}</td>
	<td>{{lfreq}}</td>
	<td>{{cfreq}}</td>
		<td> {%- for word, wfreq in words[ltype].items()  %}
		  <small><i>{{word}}</i> ({{wfreq}}){{ ", " if not loop.last else "" }}</small>
	  {%- endfor %}</td>
      </tr>
      {% endfor %}
        </tbody>
    </table>
  </div>




</section>





{% endblock %}



{% block scripts %}
  <script>
    $(document).ready(function () {
	$('#data').DataTable({"pageLength": 25,
			      "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "All"] ] });
    });
  </script>

 {% endblock %}
