{% extends 'layout.html' %}

{% block css %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Color and sort according to type   -->

<div class="container">
  <h1>Lexical Types</h1>


  <table id='data'
	 class="table table-hover table-borderless table-sm">
    <thead class="thead-light">
    <tr>
      <th>Lexical Type</th> <th>Name</th>
      <th>Lex Freq</th>
      <th>Corpus Freq</th>
      <th>Words</th>
    </tr>
    </thead>
    <tbody>
      {%- for (typ, lname,  lfreq, cfreq, words) in data %}
      <tr>
	<td><a href="{{url_for('ltype', typ=typ)}}">{{typ}}</a></td>
	<td>{{lname}}</td>
	<td>{{lfreq}}</td>
	<td>{{cfreq}}</td>
	<td>{{words}}</td>
      </tr>
      {% endfor %}
        </tbody>
    </table>




</div>





{% endblock %}



{% block scripts %}
  <script>
    $(document).ready(function () {
	$('#data').DataTable({"pageLength": 25,
			      "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "All"] ] });
    });
  </script>

 {% endblock %}
