<header>
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a href="{{ url_for('home') }}" class="navbar-brand"><img width=50
					   src="{{ url_for('static',
					   filename='img/ltdb.png')
					   }}"/>Grammars</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
	  {% if grm %}

          <div class="navbar-nav">
	    <a href="{{ url_for('grammar') }}"
	       class="nav-item nav-link{{ ' active' if request.endpoint == 'grammar' }}">{{grm}}</a>
	    <a href="{{ url_for('rules') }}"
	       class="nav-item nav-link{{ ' active' if request.endpoint == 'rules' }}">Rules</a>
	    <a href="{{ url_for('ltypes') }}"
	       class="nav-item nav-link{{ ' active' if request.endpoint == 'ltypes' }}">Lexical Types</a>
	    <a href="{{ url_for('demo') }}"
	       class="nav-item nav-link{{ ' active' if request.endpoint == 'demo' }}">Demo</a>
	  </div>
	  {% endif %}
	    <form action="{{ url_for('submit_fsearch') }}" method="post" class="form-inline my-2 my-lg-0">
              <input type="text" id="search" name="search" required placeholder="lemma/type/predicate">
	      <button type="submit" class="btn btn-outline-secondary">
		🔍
              </button>
	    </form>
	    
	  
	</div>
      </div>
  </nav>
</header>
